.container1{
    background-color: #fff;
    height: 653px;
    width: 98%;
    border-radius: 24px;
    &_warp{
        position: absolute;
        top: 65px;
        .search{
            width: 386px;
            background-color: #F7F7F8;
            border-radius: 12px;
        }
        .btn{
            height: 44px;
            width: 174px;
            left: 429px;
            border-radius: 8px;
            padding: 11px, 24px, 11px, 24px;
            border: none;
            background-color: #FF993C;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
        }
    }
    
}
.container2{
    background-color: #fff;
    height: 653px;
    width: 98%;
    border-radius: 24px;
}