body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    background-color: #EDE6E6;
  }
  /* input-search */
  .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child{
    display:none
  }
  .ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-radius: 12px;
    height: 44px;
  }
/* input-search */
/* menu */
  .ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu> .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-selected
{
  background-color: #FFB800;
  color: #fff;
}
.ant-menu> .ant-menu-submenu-active{
  color: #fff;
}

.ant-menu > .ant-menu-submenu-selected,
.ant-menu > .ant-menu-item-open,
.ant-menu> .ant-menu-submenu-open{
  background-color: #F1F4F8;
  color: #1E0D03;
}
.ant-menu-submenu-selected{
  color: #1E0D03 !important;
}
.ant-menu-vertical > .ant-menu-item {
  height: 44px;
  line-height: 44px;
}

.ant-menu-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.ant-menu-item-selected,
.ant-menu-item-selected a{
  color: #ffffff !important;
}

.ant-menu-submenu-selected {
  background-color: #FFB800 ;
  color: #1E0D03 !important;
}

.ant-menu-item-active,
.ant-menu-submenu-active {
  color: #FFB800;
  background-color: #fff2e7;
}

.ant-menu-submenu-title {
  display: flex;
  align-items: center;
}

.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 44px;
  line-height: 44px;
}

.ant-menu-submenu-expand-icon,
.ant-menu-submenu-arrow {
  color: inherit;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #FFB800;
  height: 52px;
  border-radius: 8px ;
}
.ant-menu-item a:hover{
  color: #fff !important;
}
.ant-menu-inline.ant-menu-root .ant-menu-item, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  height: 52px;
}
.ant-menu-inline .ant-menu-selected::after, .ant-menu-inline .ant-menu-item-selected::after {
  transform: none;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-menu-submenu-expand-icon, .ant-menu-submenu-arrow {
  color: inherit;
  display: none;
}
.ant-menu-submenu,.ant-menu-submenu-inline{
  width: 212px;
  border-radius: 12px;
}
/* menu */
/*Table*/
.ant-table-wrapper{
  max-width: none;
}
.ant-table-tbody > tr > td {
  padding: 10px;
}
.ant-table-tbody>tr>td:first-child{
  text-align: center;
}
.ant-table-thead > tr > th {
  padding: 10px;
  font-weight: 600;
  background-color: #F1F4F8;
  border-bottom: none;
}
.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 8px;
  text-align: center;
}
.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 8px;
}
.ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
  cursor: not-allowed;
  border: none;
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  border: none;
}
.ant-pagination-item{
  border: none;
}
.ant-pagination-disabled, .ant-pagination-disabled:hover {
  color: #A5A8B1;
}
.ant-pagination-next:hover{
  color: #A5A8B1;
}
.ant-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border: 1px solid #FF993C;
  color: #FF993C;
  border-radius: 8px;
}
.ant-pagination-item-active>a{
  color: #FF993C;
}
.ant-pagination-item-active:hover{
  border: 1px solid #A5A8B1;
}
.ant-pagination-item-active>a:hover{
  color: #A5A8B1;
}
/*Form*/
.ant-form-item-label > label{
  font-weight: 700;
}
.ant-form-item-label > label::after{
  display: none;
}
/*Modal*/
.ant-modal-content{
  border-radius: 16px;
}
.ant-modal-header{
  border-bottom: none;
  border-radius: 16px;
}
.ant-modal-close-x{
  display: none;
}
/*Tabs*/
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #FF993C;
  font-size: 700
}
.ant-tabs-tab{
  color: #A5A8B1;
}
.ant-tabs-tab:hover{
  color: #FF993C;
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar{
  background-color: #FF993C;
  height: 3.5px;
}
/*radio*/
.ant-radio-inner{
  height: 24px;
  width: 24px;
  border: 2px solid #1890ff;
}
.ant-radio-inner::after{
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;
}
.ant-radio-checked .ant-radio-inner {
  border: 2px solid #1890ff;
}
.ant-radio-wrapper.ant-radio-wrapper-in-form-item input[type='radio']{
  width: 24px;
  height: 24px;
}
/*checkbox*/
.ant-checkbox-inner{
  width: 24px;
  height: 24px;
  border: 2px solid #A5A8B1;
  border-radius: 5px;
} 
.ant-checkbox-inner::after{
  left:32.5%
}

.Calendar__monthYear.-shown {
  width: 200px;
  font-size: 14px;
  margin-left: 20px;
}
.Calendar > :not(.Calendar__footer) button {
  font-size: 16px;
}
.Calendar__monthArrowWrapper.-right {
  transform: rotate(-90deg);
  position: absolute;
  left: 0px;
}
.Calendar__monthArrowWrapper.-left{
  position: absolute;
  left: 175px;
}
.Calendar__monthArrow{
  width: 1.1em;
  height: 1.1em;
}
